.home {
  .slick-prev,
  .slick-next {
  	display:none !important;
  	background:transparent;
  	border-color:rgba(255, 255, 255, .2);
  	cursor: pointer;
  	&:focus {
  		outline:0;
  	}
  }

  .slick-next {
  	@include media('small-screen') {
  		display:inline-block !important;
	  	position:absolute;
	  	right:2rem;bottom:2rem;
  	}
  }
  .project.slick-slide {
//    background-attachment: fixed;
  }
  .home-teaser {
    text-align:center;
  }
}