/*
 * Styles
 * Add your content-specific theming in this file.
 * All general theming should go in the design folder.
 */
* {
	box-sizing:border-box;
}
html {
	font-size:$rem-base;
  @include media('short-screen') {
    font-size:16px;
  }  
}
body {
	margin:0;
	transition-property: opacity;
  transition-duration: 500ms;
  opacity:0;
  &.shown {
  	opacity:1;
  }

}
img {
  height: auto;
  width: 100%;
}

.header {
  overflow:visible;
}

.navigation {
  padding:1rem 1rem 2rem 1rem;
  background-color: rgba(0,0,0,.95);
  &.open {
    display:block !important;
    padding-left:2rem;
    z-index:3;
  }
  display:none;
  @include media('small-screen') {
    background-color: transparent;
    padding:0;
    display:inline-block;
  }
  ul {
    list-style-type: none;
    padding:0;
    margin:0;

    li {
      padding:0;
      margin:0;
      @include media('small-screen') {
        display:inline-block;
      }
      a {
        @include button;
        margin:0;
        border:transparent 1px solid;
        @include media('small-screen') {
          color: $c-lightGray;
        }
        &.login {
          margin-top:.5rem;
          @include media('small-screen') {
            margin-top:0;
          }          
          border-color:$c-extraLightGray;
          span {
            font-size:.8em;
            margin-left:.5rem;
          }
        }
      }
    }
  }
}

$color1: #141729;
$color2: #291614;

@keyframes animationOne {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}  
}
@keyframes animationTwo {
  0% {opacity: 0}
  50% {opacity: 1;}
  100% {opacity: 0;}  
}



