@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?oet2zr');
  src:  url('#{$icomoon-font-path}/icomoon.eot?oet2zr#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.woff2?oet2zr') format('woff2'),
    url('#{$icomoon-font-path}/icomoon.ttf?oet2zr') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?oet2zr') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?oet2zr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo {
  &:before {
    content: $icon-logo;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-location-arrow {
  &:before {
    content: $icon-location-arrow;
  }
}
.icon-arrow-circle-down {
  &:before {
    content: $icon-arrow-circle-down;
  }
}
.icon-arrow-circle-up {
  &:before {
    content: $icon-arrow-circle-up;
  }
}
.icon-arrow-circle-right {
  &:before {
    content: $icon-arrow-circle-right;
  }
}
.icon-arrow-circle-left {
  &:before {
    content: $icon-arrow-circle-left;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-envelope {
  &:before {
    content: $icon-envelope;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-pinterest {
  &:before {
    content: $icon-pinterest;
  }
}

