$icomoon-font-path: "../../icomoon/fonts" !default;

$icon-logo: "\e904";
$icon-instagram: "\e90e";
$icon-location-arrow: "\e905";
$icon-arrow-circle-down: "\e906";
$icon-arrow-circle-up: "\e907";
$icon-arrow-circle-right: "\e908";
$icon-arrow-circle-left: "\e909";
$icon-arrow-right: "\e90a";
$icon-arrow-left: "\e90b";
$icon-arrow-down: "\e90c";
$icon-arrow-up: "\e90d";
$icon-envelope: "\e900";
$icon-twitter: "\e901";
$icon-facebook: "\e902";
$icon-pinterest: "\e903";