<footer>
    <div class="social">
        {{#if social}} {{#each social}}
        <a target="_blank" href="{{this}}"><span class="icon-{{@key}}"></span><span class="accessibility">{{@key}}</span></a> {{/each}} {{/if}}
    </div>
    <nav class="navigation">
        <ul>
            {{#if pages}} {{#each pages}}
            <li>
                <a class="{{path}}" href="/{{path}}">{{title}}</a>
            </li>
            {{/each}} {{/if}}
        </ul>
    </nav>
</footer>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="/scripts/vendor/slick.min.js"></script>
<script src="/scripts/init.js"></script>
</body>
</html>
