<footer>
    <div class="social">
        {{#if social}} {{#each social}}
        <a target="_blank" href="{{this}}"><span class="icon-{{@key}}"></span><span class="accessibility">{{@key}}</span></a> {{/each}} {{/if}}
    </div>
    <nav class="navigation">
        <ul>
            {{#if pages}} {{#each pages}}
            <li>
                <a class="{{path}}" href="/{{path}}">{{title}}</a>
            </li>
            {{/each}} {{/if}}
        </ul>
    </nav>
</footer>
<script src="/scripts/all.js"></script>
</body>
</html>
