{{> header}}
<div class="masthead" style="background-image: url({{ imgL image }})">
    <span></span>
    <span></span>
    <span></span>
    <div>
        <h2>{{title}}</h2>
        <p>{{teaser}}</p>
    </div>
</div>
<main class="primary-wrapper {{templateClass}}">
    {{{contents}}}
    <form id="contact-form" action="//formspree.io/{{recipient}}" method="POST">
        <input type="text" name="Name" placeholder="Name" required="">
        <input type="email" name="Email" placeholder="Email" required="">
        <textarea name="Message" cols="30" rows="6" placeholder="Message" required=""></textarea>
        <!-- CONFIG -->
        <input class="is-hidden" type="text" name="_gotcha">
        <input type="hidden" name="_subject" value="{{subject}}">
        <input type="hidden" name="_cc" value="{{cc}}">
        <!-- /CONFIG -->
        <input class="submit" type="submit" value="Send">
    </form>
</main>
{{> footer}}
