{{> header}} 
{{#if projects}}
<div class="projects">
    <div>
        {{#each_upto projects 3}}
        <div class="project" style="background-image:url({{ imgS image }});)">
            <div>
                <h3>{{title}}</h3>
                <p>{{teaser}}</p>
                <a class="button" href="/{{path}}">See More <span class="icon-arrow-right"></span></a>
            </div>
        </div>
        {{/each_upto}}
    </div>
</div>
{{/if}}

<main>
    {{#if news}}
    <div class="news-listing">
        <h3>News</h3>
        {{#each_upto news 2}}
        <div class="news-item">
            <a class="{{path}}" href="/{{path}}">{{title}}</a> {{#if teaser}}
            <p>{{contents}}</p>
            {{/if}} {{#if link}}
            <a class="button" href="{{link}}">{{link_text}} <span class="icon-arrow-right"></span></a> {{/if}}
        </div>
        {{/each_upto}}
    </div>
    {{/if}}
    {{{home}}}
</main>
{{> footer}}