{{> header}}
<div class="masthead" style="background-image: url({{ imgL image }})">
    <div>
        <h2>{{title}}</h2>
        <p>{{teaser}}</p>
    </div>
</div>
<main>
    {{{contents}}} {{#if news}}
    <div class="news-listing">
        {{#each news}}
        <div class="news-item">
            <h3><a class="{{path}}" href="/{{path}}">{{title}}</a></h3> {{#if teaser}}
            <p>{{teaser}}</p>
            {{/if}} {{#if link}}
            <a class="button" href="{{link}}">{{link_text}} <span class="icon-arrow-right"></span></a> {{/if}}
        </div>
        {{/each}}
    </div>
    {{/if}}
</main>
{{> footer}}
